{% load staticfiles %}
<html>
    <head>
        <title>Esports world</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico'%}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Merriweather&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/HS.css' %}">
        <style>
        h3{
            margin-top: 15px;
        }
        </style>  
        {% block style %}
        {% endblock %} 
    </head>
<body>
    <div class="page-header">
        <div class="logos">
            <div class='left'><h1><a href="/" >Esports Universe</a></h1></div>
            <div class='right'><a style = 'text-decoration:none;' href='/hs/'><img class='main-logo' src="{% static 'images/logo-small-914.png' %}"></a></div>
        </div>
        <div class='controls'>

        </div>
    </div>
        <nav class='navbar navbar-inverse'>
            <ul class="nav navbar-nav">
                <li><a href="/hs/">Home</a></li>
                <li><a href="/hs/tournament_list/">Tournaments</a></li>
                <li><a href="/hs/players/">Players</a></li>
                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Cards&darr;</a>
                        <ul class="dropdown-menu">
                            <li><h4> Standard </h4></li>
                            <li><a href="/hs/cards/1001">Knights of the Frozen Throne</a></li>
                            <li><a href="/hs/cards/27">Journey to Un'Goro</a></li>
                            <li><a href="/hs/cards/25">Mean Streets of Gadgetzan</a></li>
                            <li><a href="/hs/cards/24">One Night in Karazhan</a></li>
                            <li><a href="/hs/cards/21">Whispers of the Old Gods</a></li>
                            <li><a href="/hs/cards/3">Expert</a></li>
                            <li><a href="/hs/cards/2">Basic</a></li>
                            <li><h4> Wild </h4></li>
                            <li><a href="/hs/cards/20">League OF Explorers</a></li>
                            <li><a href="/hs/cards/15">The Grand Tournament</a></li>
                            <li><a href="/hs/cards/14">Blackrock Mountain</a></li>
                            <li><a href="/hs/cards/13">Goblins vs Gnomes</a></li>
                            <li><a href="/hs/cards/12">Naxxramas</a></li>
                            <li><a href="/hs/cards/4">Hall of Fame</a></li>
                        </ul>
                <li><a href="/hs/about/">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><h3>Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></h3></li>
                    <li><a href="{% url 'hs:control_panel' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span>Control panel</a></li>
                    <li><a href="{% url 'hs:players_list' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span>Players</a></li>     
                    {% else %}
                    <li><a href="{% url 'admin:index' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span>Login</a></li>
                    {% endif %}
            </ul>
        </nav>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
                </div>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>


