<!DOCTYPE html>
<html>
<head>
        {% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>jQuery Countdown</title>
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
<style type="text/css">
#defaultCountdown { width: 240px; height: 45px; }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script>
$(function () {
	var austDay = new Date();
	austDay = new Date(2017, 9 - 1, 1);
	$('#defaultCountdown').countdown({until: austDay});
	$('#year').text(austDay.getFullYear());
});
</script>
</head>
<body>
<h1>This is a temporary page for various production tasks</h1>
</body>
</html>
